* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 45px;
  font-weight: 500;
}

div {
  height: 75px;
  width: 75px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px
}

input {
  display: block;
  margin: auto;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}